
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; 
    margin-bottom: 20px;
    height: 57px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
}

footer {
    margin-top: 100px;
}

.footer-bottom {
    display: block;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(64, 95, 121);
    padding: 10px;

}

.info-section {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 40px;
}

.email-section {
    margin-top: 20px;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}