html {    /* style */
    background-color: white;
}

main{/* style */
    min-width: 10%;
    border: thin white;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    position: relative;
    top: 40px;
    border: 1px solid rgb(0, 0, 0);
    

}
.button2 {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
}

#identifiant {
    border-radius: 10px;
    border-style: solid;
}
#password {
    border-radius: 10px;
    border-style: solid;
}