
body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; 
    margin-bottom: 20px;
    height: 57px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    padding-right: 8px;
    padding-left: 8px;
    z-index: 1000;
}

#button-header{
    position: relative;
    right: 20px;
}

footer {
    margin-top: 100px;
}

#A-propos {
    margin-right: 8px;
    margin-left: 8px;
}

.footer-bottom {
    display: block;
    bottom: 0;
    text-align: center;
    color: white;
    background-color: rgb(64, 95, 121);
    padding: 10px;

}

.info-section {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    row-gap: 2px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 8px;
}

.email-section {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 8px;
    margin-left: 8px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

nav{
    position: relative;
    top: 80px;
    margin-right: 8px;
    margin-left: 8px;

}

.main-button {
    position: relative;
    top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:50px ;
}

#creer-alerte-button {
    position: relative;
    left: 20px;
}

#trier-select {
    position: relative;
    left: 1000px;
}


main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 50px;
    margin-right: 8px;
    margin-left: 8px;
    top: 80px;
}



.annonce {
    width: 350px;
    border-radius:15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: sans-serif;
    transition: transform .2s;
}

.annonce:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.annonce-img {
    position: relative;
}

.annonce-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.fav-button {
    position: absolute;
    top: 7px;
    right: 10px;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
    background-color: white;
    cursor: pointer;
}

.professionnel {
    position: absolute;
    background-color: white;
    border-radius: 30px;
    z-index: 100;
    top: 190px;
    left: 5px;
    padding: 4px 10px;
    font-size: 11px;
}

.reservation {
    position: absolute;
    background-color: #50a3e2;
    color: white;
    border-radius: 30px;
    z-index: 100;
    top: 10px;
    left: 5px;
    padding: 4px 10px;
    font-size: 11px;
    font-weight: bold;
}

#type {
    font-size: 13px;
}
#name {
    font-weight: bold;
    font-size: 14px;
}

.price-type-box {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;
}


.price-tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100px;
    font-size: 10px;
}
.price-tag span {
    font-size: 18px;
}

.more-info {
    padding-left: 10px;
    font-size: 13px;
}

#localisation {
    color: #6a73ad;
    

}

.description-box {
    margin-bottom: 16px;
    color: #6a73ad;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
}

.disponible-box {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
    background-color: #f8f8ff;
    font-size: 13px;
}

#colored-circle {
    background-color: #3c9;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    margin-top: 3px;
}



/* .annonce {
    display: flex;
    flex-direction: column;
    padding: 50px;


}

.owner-section {
    margin-top: 20px;
}

.n-photo {
    position: absolute;
    z-index: 99;
} */
